    .myrow{
        /* border: 3px solid red; */
        height: 60%;
    }

    .images {
        width: 100%;
        border-radius: 2%;
        transition: 0.2s ease-in-out;
        /* box-shadow: 0 2px 3px rgba(0,0,0,0.2); */
    }


    /* .images:hover{
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    } */

    .selector{
        position: absolute;
        background-color: rgba(255, 255, 255, .3);
        border: 1px solid #FFF;
        box-sizing: border-box;
        transition:0.1s;
        transform: translate(-50%,-50%);
        z-index: 5;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 20px; 
        line-height: 60px; 
    }
    .gray{
        color: rgba(255, 255, 255, .5);
    } 

    .cover-container {
        max-width: 42em;
        color: #fff;
    }
        /*
        * Cover
        */
    .cover {
    padding: 0 1.5rem;
    }
    .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 6; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: rgba(14, 24, 36, 0.95); /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    }

        /* The navigation menu links */
    .sidenav a {
        margin-left: 20px;
        padding: 5px;
        text-decoration: none;
        text-align: left;
        font-size: 13px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    .sidenav h3{
        top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
    }

        /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: rgb(24, 190, 255);
    }

    .sidenav .selected {
        color: rgb(24, 190, 255);
    }
        /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 16px;
        font-size: 20px;
        margin-left: 50px;
    }
    .imageselect{
        position: absolute;
        left:20px;
        cursor: pointer;
    }

    .imageselect:hover{
        color: rgb(24, 190, 255);
    }
    .sub{
    /* font-style: italic; */
    color: rgb(24, 190, 255);
    }

    .line{
        padding-top: 2px;
        border: 0;
        clear:both;
        display:block;
        width: 100%;               
        background-color:#ffffff;
        height: 1px;
    }