{% extends 'base.html' %}

{% block head %}


<title>ecDNA Visualizer</title>
<style>
    body {
        background: #202A32;
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        height: auto;
    }
    
    .mycontainer{
        /* border-radius: 10px; */
        border: 1px solid green;
    }

    .mycol{
        border: 3px dotted blue;
    }

    .myrow{
        border: 3px solid red;
        height: 60%;
    }

    .images {
        width: 100%;
        border-radius: 2%;
        transition: 0.2s ease-in-out;
        /* box-shadow: 0 2px 3px rgba(0,0,0,0.2); */
    }


    /* .images:hover{
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    } */

    .selector{
        position: absolute;
        background-color: rgba(255, 255, 255, .3);
        border: 1px solid #FFF;
        box-sizing: border-box;
        transition:0.1s;
        transform: translate(-50%,-50%);
        z-index: 5;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20px; 
        line-height: 60px; 
    }
    .gray{
        color: rgba(255, 255, 255, .5);
    } 

    .cover-container {
        max-width: 42em;
        color: #fff;
    }
        /*
        * Cover
        */
    .cover {
    padding: 0 1.5rem;
    }
    .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
    }

    .zoomers{
        /* height: 100px; */
        /* clip: rect(1px,1px,1px,1px); */
    }

</style>

{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="cover-container d-flex p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">ecDNA Visualizer</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="input">Input</a>
                    <a class="nav-link active" href="visualize">Visualize</a>
                </nav>
            </div>
        </header>
    </div>
    <div id="selector1" class="selector"></div>
    <div id="selector2" class="selector"></div>
    <div id="selector3" class="selector"></div>
    <div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="container-fluid mycontainer">
            <div class="row myrow align-items-center">
                <div class="col-4 mycol">
                    <img id="orig" class="img-fluid images row1" src="../static/img/ecSeg/COLO320DM_0uM_HU_21d_01.png" data-zoom-image="../static/img/ecSeg/COLO320DM_0uM_HU_21d_01.png" alt="orig" zoom>
                </div>
                <div class="col-4 mycol ">
                    <img id="dapi" class="img-fluid images row1" src="../static/img/ecSeg/COLO320DM_0uM_HU_21d_01.png" alt="dapi">
                </div>
                <div class="col-4  mycol ">
                    <img id="ecSeg" class="img-fluid images row1" src="../static/img/ecSeg/COLO320DM_0uM_HU_21d_01.png" alt="ecSeg">
                </div>
            </div>
            <div class="row justify-content-around align-items-center myrow">
                <div class="col-4 mycol">
                    <img id="origZoom" class="zoomers img-fluid images" src="../static/img/ecSeg/COLO320DM_0uM_HU_21d_01.png" > 
                    <!-- style="background-image: url(../static/img/ecSeg/COLO320DM_0uM_HU_21d_01.png)" -->
                    <!-- <img id="origZoom" class="img-fluid images" src="../static/img/ecSeg/COLO320DM_0uM_HU_21d_01.png" alt="Park"> -->
                    <div class="image zoomers" id="origZoom"></div>
                </div>
                <div class="col-4 mycol">
                    <img class="img-fluid images" src="../static/img/ecSeg/COLO320DM_0uM_HU_21d_01.png" alt="Park">
                </div>
            </div>
        </div>
        <!-- <footer class="footer justify-content-center mt-auto">
            <div class="inner">
                <p class="gray">Visualizer created by <a href="https://github.com/MihirBafna">Mihir Bafna</a></p>
            </div>
        </footer> -->
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        // startZoom("orig", "origZoom")
        // $(window).resize(function () { startZoom("orig", "origZoom") });

        // function startZoom(zoomid, zoomclass) {
        //     $("#" + zoomid).ezPlus({
        //         zoomWindowPosition: zoomclass,
        //         zoomWindowWidth: $("#" + zoomid).width(),
        //         zoomWindowHeight: $("#" + zoomid).height(),
        //         borderColour: '#202A32'
        //     })
        // }

        // $(".row1").mousemove(function (e) {
        //     $("#selector").show();
        //     $("#selector").css({ "top": e.pageY + "px", "left": e.pageX + "px" });
        //     // console.log("x: " + e.pageX + " y:" + e.pageY);
        // });

        // $(".row1").hover(function(e){
        //     $("#selector").show();
        //     $("#selector").css({ "top": e.pageY + "px", "left": e.pageX + "px" });
        //     // console.log("x: " + e.pageX + " y:" + e.pageY);
            
        // },
        // function(){
        //     $("#selector").hide();
        // }        
        // );  
        var clicked = false;
        initialize();
        $(window).mousemove(function (event) {
            var rowwidth = $(".myrow").width();
            if (!clicked) {
                // $("#selector1").show();
                // $("#selector2").show();
                // $("#selector3").show();
                $("#selector1").css({ "top": event.pageY + "px", "left": event.pageX + "px" });
                $("#selector2").css({ "top": event.pageY + "px", "left": event.pageX + rowwidth / 3 + "px" });
                $("#selector3").css({ "top": event.pageY + "px", "left": event.pageX + 2 * rowwidth / 3 + "px" });
                showZoom(event.pageX, event.pageY);
            }
        });   
        $("#orig").mousemove(function (event) {
            initialize();
            var rowwidth = $(".myrow").width();
            if(!clicked){
                $("#selector1").show();
                $("#selector2").show();
                $("#selector3").show();
                // $("#selector1").css({ "top": event.pageY + "px", "left": event.pageX + "px" });
                // $("#selector2").css({ "top": event.pageY + "px", "left": event.pageX + rowwidth/3+ "px" });
                // $("#selector3").css({ "top": event.pageY + "px", "left": event.pageX + 2*rowwidth / 3+"px" });
                // showZoom(event.pageX,event.pageY);
            }
        });
        $("#dapi").mousemove(function (event) {
            if (!clicked) {
                initialize();
                var rowwidth = $(".myrow").width();
                $("#selector1").show();
                $("#selector2").show();
                $("#selector3").show();
                $("#selector2").css({ "top": event.pageY + "px", "left": event.pageX + "px" });
                $("#selector1").css({ "top": event.pageY + "px", "left": event.pageX - rowwidth/3 + "px" });
                $("#selector3").css({ "top": event.pageY + "px", "left": event.pageX + rowwidth/3 + "px" });
            }
        });   
        $("#ecSeg").mousemove(function (event) {
            if (!clicked) {
                initialize();
                var rowwidth = $(".myrow").width();
                $("#selector1").show();
                $("#selector2").show();
                $("#selector3").show();
                $("#selector3").css({ "top": event.pageY + "px", "left": event.pageX + "px" });
                $("#selector1").css({ "top": event.pageY + "px", "left": event.pageX -2*rowwidth/3+ "px" });
                $("#selector2").css({ "top": event.pageY + "px", "left": event.pageX -rowwidth/3+ "px" });
            }
        }); 

        function showZoom(pagex,pagey){
            var x = $("#selector1").offset().left - $("#orig").offset().left + $("#selector1").width()/2;
            var y = $("#selector1").offset().top - $("#orig").offset().top + $("#selector1").height() /2;
            console.log(x,y);
            var left = x - ($("#selector1").width()/2);
            var right = $("#orig").width() - (x + $("#selector1").width()/2);
            var bottom = $("#orig").height() - (y + $("#selector1").height() /2);
            var top = y - ($("#selector1").height()/2);
            // var left = x - $("#orig").width() / 10;
            // var right = $("#orig").width()-x+ $("#orig").width() / 10;
            // var top = y - $("#orig").height() / 10;
            // var bottom = $("#orig").height() - x + $("#orig").height() / 10;
            var xshift = $("#orig").width() / 2-x;
            var yshift = $("#orig").height() / 2 - y;
            $("#origZoom").css({
                // "clip-path":"inset(0px 10px 0px 10px)"
                "overflow":"hidden",
                "clip-path": "inset("+top+"px "+right+"px "+bottom+"px "+left+"px )",
                // "-webkit-clip-path" : "inset("+top+"px "+right+"px "+bottom+"px "+left+"px )",
                // "background-position":"-"+left*10+"px -"+ y*10+"px"
                "transform": "scale(10) translate("+xshift+"px, "+yshift+"px)",
            });

        }

        function initialize(){
            $("#selector1").hide();
            $("#selector2").hide();
            $("#selector3").hide();
            var lensWidth = $("#orig").width() / 10;
            var lensHeight = $("#orig").height() / 10;
            $("#selector1").css({
                "height": lensHeight,
                "width": lensWidth
            });
            $("#selector2").css({
                "height": lensHeight,
                "width": lensWidth
            });
            $("#selector3").css({
                "height": lensHeight,
                "width": lensWidth
            });
        }
    });

</script>
    
{% endblock %}