{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/visualize.css">
<style>
    html,
    body {
        overflow: hidden;
        height: 100%;
        min-height: 100%;

    }

    body {
        background: #202A32;
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        overflow: hidden;
        height: 100vh;
        min-height: 100%;
    }
</style>

{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="background">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <div id="mySidenav" class="sidenav">
                <a id="closebtn" href="javascript:void(0)" class="closebtn">&times;</a>
                <h6> Folder: {{folder}} </h6>
                <hr class="line2">
                {% for image in images %}
                    {% if image==imgname %}
                        <a id="{{images}}" class="selected imglinks" href="/deepmetadetect/{{image}}">{{image}}</a>
                    {% else %}
                        <a id="{{image}}" class="imglinks" href="/deepmetadetect/{{image}}">{{image}}</a>
                    {% endif %}
                {% endfor %}
                <hr class="line2">
            </div>
            <div id="toolnav" class="toolsidenav selected">
                <span id="closetoolnav" href="javascript:void(0)" class="closebtn">&times;</span>
                <a href="https://github.com/MihirBafna/ecDNA-Analytics/issues" target="_blank"
                    class="btn btn-primary material-icons inbtn" data-toggle="tooltip" data-placement="top"
                    title="Report Issue on GitHub">&#xe001;</a>
                <a href="https://github.com/MihirBafna/ecDNA-Analytics/blob/master/README.md#online-usage" target="_blank"
                    class="btn btn-primary material-icons inbtn" data-toggle="tooltip" data-placement="top"
                    title="Need Help?">&#xe8fd;</a>
                <a href="/clearclientcache" class="btn btn-danger material-icons inbtn" data-toggle="tooltip" data-placement="top"
                    title="Clear client cache on server">delete</a>
            </div>
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 id="menubtn" class="nav nav-masthead imageselect" data-toggle="tooltip" data-placement="right" title="Select Image">
                        <i class="material-icons" style="font-size:45px">&#xe060;</i></h3>
                    <h3 class="masthead-brand">ecDNA Analytics: </h3>
                    <h3 class="masthead-brand sub"> deepMetaDetect</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="dmdinput">Input</a>
                        <a class="nav-link active" href="deepmetadetect">Detect</a>
                    </nav>
                    <h3 id="toolbtn" class="nav nav-masthead toolselect" data-placement="left" data-toggle="tooltip" title="Toolbar"><i class="material-icons" style="font-size:30px">&#xe869;</i></h3>
                </div>
            </header>
            <hr class="line">
        </div>
        <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
                <div id="selector1" class="selector"></div>
                    <!-- <div id="alert" class="alert alert-primary">HINT: Double click on images to start magnifying</div> -->
                <div class="container-fluid mycontainer">
                    <div id="divrow" class="row myrow1 justify-content-around">
                        <div id="origcol" class="mycol1 col-6">
                            <h4 style="color: white; font-weight: 200;">Original</h4>
                            <hr class="line2" style="margin-top: 0px;">
                            <img id="orig" class="img-fluid row1 images1"
                                src="{{ '../static/img/deepMetaDetectOutput/'+folder+'/orig/'+ imgname }}">
                        </div>
                        <div id="zoomed" class="mycol1 col-6">
                            <h4 style="color: white; font-weight: 200;">Magnified</h4>
                            <hr class="line2" style="margin-top: 0px;">
                            <img id="origZoom" class="zoomers img-fluid images1 annotate" src="{{ '../static/img/deepMetaDetectOutput/'+folder+'/orig/'+ imgname }}">
                        </div>
                    </div>
                    <div class="row justify-content-around align-items-center myrow1">
                        <h4 style="color: white; font-weight: 200;">Analytics</h4>
                        <hr class="line2" style="margin-top: 0px;">
                        <button id="downloadMPS">Download Metaphase Coordinates</button>
                    </div>
                </div>
                <footer class="footer justify-content-center mt-auto">
                    <div class="inner">
                        <p class="gray">Visualizer created by <a href="https://github.com/MihirBafna">Mihir Bafna</a></p>
                    </div>
                </footer>
        </div>
        <script>
            var imgname = "{{imgname}}"
        </script>
        <script src="../static/js/visualize.js"></script>
{% endblock %}