{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="../static/css/index.css">
<style>
     body {

        background-image: url("../static/img/appimages/ecDNABackground.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* opacity: 0.5;    */

    }
</style>

{% endblock %}

{% block body %}
<div class="background">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h2 class="masthead-brand">ecDNA Analytics</h2>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link" href="dmdinput">deepMetaDetect</a>
                    <a class="nav-link" href="input">ecSeg</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <hr class="line">
            <h1 class="cover-heading">ecDNA Analytics</h1>
            <p class="lead">Visualization platform for metaphase spread detection and ecDNA segmentation analysis</p>
            <p class="lead">
                <a id="start" class="btn btn-lg btn-secondary">Get Started</a>
            </p>
            <hr class="line">
        </main>

    </div>
    <div id="toolslide" class="background">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <div class="row justify-content-around">
                <i id="up" class="material-icons" style="font-size:48px">keyboard_arrow_up</i>
            </div>
            <div class="row myrow justify-content-around ">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">deepMetaDetect</h5>
                        <p class="card-text">deepMetaDetect is a platform for identifying metaphase spreads in a population of cells from whole slide images
                        (experimental)</p>
                        <a href="dmdinput" class="btn btn-primary">Detect</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ecSeg</h5>
                        <p class="card-text">ecSeg is a platform designed to identify extrachromosomal DNA (ecDNA) stained with DAPI and FISH
                        probes (Rajkumar, U. <i>iScience</i> 2019)</p>
                        <a href="input" class="btn btn-primary">Analyze</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer mastfoot mt-auto">
        <div class=" inner">
            <p>Visualizer created by <a href="https://github.com/MihirBafna">Mihir Bafna</a></p>
        </div>
    </footer>
</div>
<script src="../static/js/index.js"></script>

{% endblock %}
