{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/input.css">
<style>
    html,
    body {
    overflow: hidden;
    height: 100%;
    min-height: 100%;

    }
    body {
        /* background-image: url("../static/img/appimages/ecDNABackground.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; */
        background: #202A32;
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        overflow: hidden;
        height: 100vh;
        min-height: 100%;
    }


</style>

{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="background">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h2 class="masthead-brand">ecDNA Analytics: </h2>
                    <h2 class="masthead-brand sub"> ecSeg</h2>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link active" href="input">Input</a>
                        <a class="nav-link" href="" id="disabled" disabled>Visualize</a>
                    </nav>
                </div>
            </header>
            <hr class="line">
        </div>
        <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="row justify-content-around align-items-center myrow">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3><i class="material-icons">filter_1</i></h3>
                        <h3>Upload Images for ecSeg <span tabindex="0" id="firstinfo" class="material-icons info" role="button" data-placement="left"
                            data-toggle="popover" data-trigger="focus" title="Uploading Input Images Info"
                            data-message="To run ecSeg, select a folder containing input images (DAPI / FISH metaphase spreads, TIF only). After ecSeg is run, the output images will be visualized. Save the timestamped folder name for future reference.">&#xe8fd;</span> </h3>
                        <hr class='line' style="margin-bottom: 20px;">
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: rgb(24, 190, 255);">Click Launch to Start</div>
                        </div>
                        <button type="button" class="btn btn-primary" style="margin-top: 19px;" data-toggle="modal" data-target="#ecSegModal">Launch</button>                    
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3><i class="material-icons">filter_2</i></h3>
                        <h3>Upload ecSeg Output <span id="secondinfo" tabindex="0" class="material-icons info" data-placement="top" role="button" data-toggle="popover"
                        data-trigger="focus" title="Uploading ecSeg Output Info"
                        data-message="To visualize ecSeg output, select a directory containing subdirectories named 'labels', 'dapi', and optionally 'orig (all subdirectories must contain the same number of images with matching filenames). If the directory does not have an 'orig' folder, one will be created as long as the original images are located in the chosen directory. Once visualized, save the timestamped folder name for future reference.">&#xe8fd;</span></h3>
                        <hr class='line'>
                        <form action="/uploadecSeg" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input class="custom-file-input" id="input-folder-2" name="input-folder-3[]" type="file"
                                        multiple webkitdirectory accept="image/*">
                                    <label class="custom-file-label label" for="input-folder-3[]">Select folder...</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3><i class="material-icons">filter_3</i></h3>
                        <h3>Visualize by Folder Name <span tabindex="0" id="thirdinfo" class="material-icons info" role="button" data-toggle="popover"
                            data-trigger="focus" title="Visualize by Folder Name Info"
                            data-message="To visualize a folder already uploaded to the server, type the timestamped folder name (Format: YYYY-MM-DD_HHMMSS)." >&#xe8fd;</span></h3>
                        <hr class='line'>
                        <form action="/directvisualize" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input name="folder" type="text" class="form-control" id="input3" placeholder="Folder name...">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Visualize</button>
                        </form>
                    </div>
                </div>
                <div class="modal fade" id="ecSegModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                                <form action="/uploadInput" method="POST" enctype="multipart/form-data">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Upload for ecSeg</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input class="custom-file-input" id="input-folder-2" name="input-folder-2[]" type="file"
                                                    multiple webkitdirectory accept="image/*">
                                                <label class="custom-file-label label" for="input-folder-2[]">Select folder...</label>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="email" name="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="closebtn" class="btn btn-danger"  data-dismiss="modal" aria-label="Close">Close</button>
                                        <button type="submit" class="btn btn-primary">Run ecSeg</button>
                                    </div>
                                </form>                          
                        </div>
                    </div>
                </div>
            </div>
            <!-- <footer class="footer justify-content-center mt-auto">
                <div class="inner">
                    <p class="gray">Visualizer created by <a href="https://github.com/MihirBafna">Mihir Bafna</a></p>
                </div>
            </footer> -->
        </div>
    </div>
</div>

<script src="../static/js/input.js"></script>
{% endblock %}