{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/input.css">
<style>
    html,
    body {
    overflow: hidden;
    height: 100%;
    min-height: 100%;

    }
    body {
        /* background-image: url("../static/img/appimages/ecDNABackground.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; */
        background: #202A32;
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        overflow: hidden;
        height: 100vh;
        min-height: 100%;
    }


</style>

{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="background">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h2 class="masthead-brand">ecDNA Analytics: </h2>
                    <h2 class="masthead-brand sub"> ecSeg</h2>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link active" href="input">Input</a>
                        <a class="nav-link" href="" id="disabled" disabled>Visualize</a>
                    </nav>
                </div>
            </header>
            <hr class="line">
        </div>
        <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="row justify-content-around align-items-center myrow">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a tabindex="0" style="color: white;"  id="firstinfo" class="material-icons info" role="button" data-placement="left" data-toggle="popover" data-trigger="focus"
                            title="Uploading Input Images Info" data-message="Select a folder with images ready to be run by ecSeg and of the .tif file format">&#xe88f;</a>
                        <h3>Upload Images for ecSeg </h3>
                        <hr class='line'>
                        <form action="/uploadInput" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input class="custom-file-input" id="input-folder-2" name="input-folder-2[]" type="file"
                                        multiple webkitdirectory accept="image/*">
                                    <label class="custom-file-label label" for="input-folder-2[]">Select folder...</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Run ecSeg</button>
                        </form>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a tabindex="0" style="color: white;" id="secondinfo" class="material-icons info" role="button" data-toggle="popover" data-trigger="focus"
                            title="Uploading ecSeg Output Info" data-message="Select a folder that has the same structure as the ecSeg output (labels folder and a dapi folder), as well as the original images either in the directory selected or a subdirectory named orig.">&#xe88f;</a>
                        <h3>Upload ecSeg Output </h3>
                        <hr class='line'>
                        <form action="/uploadecSeg" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input class="custom-file-input" id="input-folder-2" name="input-folder-3[]" type="file"
                                        multiple webkitdirectory accept="image/*">
                                    <label class="custom-file-label label" for="input-folder-3[]">Select folder...</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Visualize</button>
                        </form>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a tabindex="0" style="color: white;" id="thirdinfo" class="material-icons info" role="button" data-toggle="popover"
                            data-trigger="focus" title="Uploading ecSeg Output Info"
                            data-message="Select a folder that has the same structure as the ecSeg output (labels folder and a dapi folder), as well as the original images either in the directory selected or a subdirectory named orig.">&#xe88f;</a>
                        <h3>Visualize by Folder Name</h3>
                        <hr class='line'>
                        <form action="/directvisualize" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input name="folder" type="text" class="form-control" id="input3" placeholder="Folder name...">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Visualize</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <footer class="footer justify-content-center mt-auto">
                <div class="inner">
                    <p class="gray">Visualizer created by <a href="https://github.com/MihirBafna">Mihir Bafna</a></p>
                </div>
            </footer> -->
        </div>
    </div>
</div>

<script src="../static/js/input.js"></script>
{% endblock %}