{% extends 'base.html' %}

{% block head %}


<style>
    body {
        background: #202A32;
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        height: auto;
        overflow: hidden;
    }


</style>
<link rel="stylesheet" href="../static/css/visualize.css">
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="cover-container d-flex p-3 mx-auto flex-column">
        <div id="mySidenav" class="sidenav">
            <a id="closebtn" href="javascript:void(0)" class="closebtn">&times;</a>
            <h3> Select Image: </h3>
            {% for image in images %}
                {% if image==imgname %}
                    <a id="{{images}}" class="selected imglinks" href="/visualize/{{image}}">{{image}}</a>
                {% else %}
                    <a id="{{image}}" class="imglinks" href="/visualize/{{image}}">{{image}}</a>
                {% endif %}
            {% endfor %}
        </div>
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 id="menubtn" class="nav nav-masthead imageselect" >&#9776;</h3>
                <h2 class="masthead-brand">ecDNA Analytics: </h2>
                <h2 class="masthead-brand sub"> ecSeg</h2>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/input">Input</a>
                    <a class="nav-link active" href="/visualize">Visualize</a>
                </nav>
            </div>
        </header>
    <hr class="line">
    </div>
    <div id = "main" class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div id="selector1" class="selector"></div>
        <div id="selector2" class="selector"></div>
        <div id="selector3" class="selector"></div>
        <div class="container-fluid mycontainer">
            <div class="row myrow align-items-center">
                <div class="col-4 mycol">
                    <img id="orig" class="img-fluid images row1" src= "{{ '../static/img/ecSegOutput/'+folder+'/orig/'+ imgname }}" alt="orig">
                </div>
                <div class="col-4 mycol ">
                    <img id="dapi" class="img-fluid images row1" src="{{ '../static/img/ecSegOutput/'+folder+'/dapi2/'+ imgname }}" alt="dapi">
                </div>
                <div class="col-4  mycol ">
                    <img id="ecSeg" class="img-fluid images row1" src="{{ '../static/img/ecSegOutput/'+folder+'/ecSeg/'+ imgname }}" alt="ecSeg">
                </div>
            </div>
            <div class="row justify-content-around align-items-center myrow">
                <div class="col-4 mycol">
                    <img id="origZoom" class="zoomers img-fluid images" src="{{ '../static/img/ecSegOutput/'+folder+'/orig/'+ imgname }}" > 
                    <div class="image zoomers" id="origZoom"></div>
                </div>
                <div class="col-4 mycol">
                    <img id="ecSegZoom" class="img-fluid images" src="{{ '../static/img/ecSegOutput/'+folder+'/ecSeg/'+ imgname }}" alt="Park">
                </div>
            </div>
        </div>
        <!-- <footer class="footer justify-content-center mt-auto">
            <div class="inner">
                <p class="gray">Visualizer created by <a href="https://github.com/MihirBafna">Mihir Bafna</a></p>
            </div>
        </footer> -->
    </div>
</div>

<script src="../static/js/visualize.js"></script>
    
{% endblock %}