{% extends 'base.html' %}

{% block head %}


<style>
    body {
        background: #202A32;
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        height: auto;
        overflow: hidden;
    }


</style>
<link rel="stylesheet" href="../static/css/visualize.css">
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="cover-container d-flex p-3 mx-auto flex-column">
        <div id="mySidenav" class="sidenav">
            <a id="closebtn" href="javascript:void(0)" class="closebtn">&times;</a>
            <h6> Folder: {{folder}} </h6>
            <hr class="line2">
            {% for image in images %}
                {% if image==imgname %}
                    <a id="{{images}}" class="selected imglinks" href="/visualize/{{image}}">{{image}}</a>
                {% else %}
                    <a id="{{image}}" class="imglinks" href="/visualize/{{image}}">{{image}}</a>
                {% endif %}
            {% endfor %}
            <hr class="line2">
        </div>
        <div id="toolnav" class="toolsidenav selected">
            <span id="closetoolnav" href="javascript:void(0)" class="closebtn">&times;</span>
            <a id="origdapi" class="btn btn-primary material-icons inbtn" data-container=".container-fluid" data-toggle="tooltip" data-placement="top" title="Toggle orig/dapi zoom">&#xe3b9;</a>
            <a href="#" class="btn btn-primary material-icons inbtn" data-toggle="tooltip" data-placement="top" title="Annotate ecDNA">create</a>            
            <a href="/downloadIMG/{{folder}}/{{imgname}}" class="btn btn-primary material-icons inbtn" data-toggle="tooltip" data-placement="top" title="Download Image">image</a>
            <a href="/downloadAll/{{folder}}" class="btn btn-primary material-icons inbtn" data-toggle="tooltip" data-placement="top" title="Download Image Folder">&#xe2c7;</a>
            <a href="https://github.com/MihirBafna/ecDNA-Analytics/issues" target="_blank" class="btn btn-primary material-icons inbtn" data-toggle="tooltip" data-placement="top" title="Report Issue on GitHub">&#xe001;</a>
            <a href="https://github.com/MihirBafna/ecDNA-Analytics/blob/master/README.md#online-usage" target="_blank" class="btn btn-primary material-icons inbtn" data-toggle="tooltip" data-placement="top" title="Need Help?">&#xe8fd;</a>
            <a href="/clearclientcache" class="btn btn-danger material-icons inbtn" data-toggle="tooltip" data-placement="top" title="Clear client cache on server">delete</a>
        </div>
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 id="menubtn" class="nav nav-masthead imageselect" data-toggle="tooltip" data-placement="right" title="Select Image" ><i class="material-icons" style="font-size:45px">&#xe060;</i></h3>
                <h2 class="masthead-brand">ecDNA Analytics: </h2>
                <h2 class="masthead-brand sub"> ecSeg</h2>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/input">Input</a>
                    <a class="nav-link active" href="/visualize">Visualize</a>
                </nav>
                <h3 id="toolbtn" class="nav nav-masthead toolselect" data-placement="left" data-toggle="tooltip" title="Toolbar"><i class="material-icons" style="font-size:30px">&#xe869;</i></h3>
            </div>
        </header>
    <hr class="line">
    </div>
    <div id = "main" class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div id="selector1" class="selector"></div>
        <div id="selector2" class="selector"></div>
        <div id="selector3" class="selector"></div>
        <div class="container-fluid mycontainer">
            <div id="alert" class="alert alert-primary">HINT: Double click on images to start magnifying</div>
            <div class="row myrow align-items-center">
                <div class="col-4 mycol">
                    <img id="orig" class="img-fluid images row" src= "{{ '../static/img/ecSegOutput/'+folder+'/orig/'+ imgname }}" alt="orig">
                </div>
                <div class="col-4 mycol ">
                    <img id="dapi" class="img-fluid images row" src="{{ '../static/img/ecSegOutput/'+folder+'/dapi/'+ imgname }}" alt="dapi">
                </div>
                <div class="col-4  mycol ">
                    <img id="ecSeg" class="img-fluid images row" src="{{ '../static/img/ecSegOutput/'+folder+'/labels/'+ imgname }}" alt="ecSeg">
                </div>
            </div>
            <div class="row justify-content-around align-items-center myrow">
                <div class="col-4 mycol">
                    <img id="origZoom" class="zoomers img-fluid images" src="{{ '../static/img/ecSegOutput/'+folder+'/orig/'+ imgname }}" > 
                    <div class="image zoomers" id="origZoom"></div>
                </div>
                <div class="col-4 mycol">
                    <img id="ecSegZoom" class="img-fluid images" src="{{ '../static/img/ecSegOutput/'+folder+'/labels/'+ imgname }}">
                </div>
            </div>
        </div>
        <footer class="footer justify-content-center mt-auto">
            <div class="inner">
                <p class="gray">Visualizer created by <a href="https://github.com/MihirBafna">Mihir Bafna</a></p>
            </div>
        </footer>
    </div>
</div>

<script src="../static/js/visualize.js"></script>
    
{% endblock %}